.latest-container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* Card */
.card {
  border-radius: 10px;
}

/* IMAGEN igual para todas */
.card img {
  height: 180px;
  object-fit: cover;
}

/* Precio */
.price {
  font-weight: bold;
  margin-top: 10px;
}
