h2 {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

input, textarea, select {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
